<%- include('section-header', { title: label, jsonFile: jsonFile, jsonIconSvg: jsonIconSvg }) %>

<div class="technologies-container">
  <% data.forEach(tech => { %>
    <span class="tech-badge" title="<%= tech.description %>">
      <%= tech.name %>
    </span>
  <% }); %>
</div>
