<h2>Top-Level Java Classes <a href="<%= jsonFilesConfig.dataFiles.topLevelJavaClasses %>" target="_blank" style="font-size: 0.7em; margin-left: 10px; text-decoration: none; color: #007cba;">[JSON]</a></h2>
<%- include('table', { viewModel: topLevelJavaClassesTableViewModel }) %>
